#wrapper {
	background: #F2E3D5;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border: 0;
	}
	
h1 {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #263640;
	font-size: 4.000em;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	}
	
h2 {
	color: #435C73;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 1.750em;
	font-weight: 700;
	text-shadow: 2px 2px 2px rgba(207,192,162,0.75); 
	}
	
h3 {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #666666;
	font-size: 1.500em;
	}
	
nav, h4 {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #CC7055;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	}	
	
/* unvisited link */
a:link { 
	color: #F28963;
	text-decoration: none;
	}

/* visited link */
a:visited {
	color: #F28963;
	text-decoration: none;
	}

/* mouse over link */
a:hover {
	color: #435C73;
	text-decoration: none;
	}

/* selected link */
a:active {
	color: #435C73;
	text-decoration: none;
	}
	
ul, ol {
	padding: 0 0 20px 0;
	line-height: 150%;
	}
	
li 	{
	list-style: square inside;
	}

header {
	text-align: center;
	border: 0;
	width: 100%;
	}
	
#main, #main_content, #sidebar {
	line-height: 130%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border: 0;
	}
	
figure {
	margin: auto;
	}		

figcaption {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #CC7055;
	font-size: 1em;
	text-align: center;
	font-style: italic;
	padding: 0;
	}
	
p {
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #333;
	font-size: 1em;
	text-align: center;
	padding: 0;
	}
	
IMG.main {
	padding: 0;
	margin: 10px;
	border-radius: 25px;
	box-shadow: 5px 5px 5px rgba(102,102,102,0.5);
	}
	